.ui.right.sidebar.vertical.menu
    .ui.padded.grid
        .ui.wide.column
            .ui.form
                .ui.dividing.header Filtro de Busca
                .field
                    label Busca
                .field
                    input(type='text', name='term', id='filter_term', placeholder="Busca")
                .field            
                    label Estado
                .field
                    .ui.search.compact.selection.dropdown#filter_state
                        input(type="hidden" name="state")
                        i.dropdown.icon
                        .default.text Estado
                .field
                    label Cidade
                .field
                    .ui.search.compact.selection.dropdown#filter_city
                        input(type="hidden" name="city")
                        i.dropdown.icon
                        .default.text Cidade
                .field
                    label Categoria
                .field
                    .ui.radio.checkbox
                        input(type='radio', name='filter_category', id='filter_produtos', value="produtos", checked="", onclick="ad_InitDropDownWithProducts($('#filter_Subcategory'), true);")
                        label Produtos
                .field
                    .ui.radio.checkbox
                        input(type='radio', name='filter_category', id='filter_servicos', value="servicos", onclick="ad_InitDropDownWithServices($('#filter_Subcategory'), true);")
                        label Serviços
                .field
                    .ui.radio.checkbox
                        input(type='radio', name='filter_category', id='filter_eventos', value="eventos", onclick="ad_InitDropDownWithEvents($('#filter_Subcategory'), true);")
                        label Eventos
                .field
                    label Sub-Categoria
                .field
                    .ui.dropdown#filter_Subcategory
                        .text
                        i.dropdown.icon
                .field
                    label Preço
                    .two.fields
                        .field
                            input(type='text', name='minprice', id='filter_minprice', minlength="1", maxlength="14", data-symbol="R$ " data-thousands="." data-decimal=","  onkeydown='$(this).maskMoney();', placeholder="Mín.")
                        .field
                            input(type='text', name='maxprice', id='filter_maxprice', minlength="1", maxlength="14", data-symbol="R$ " data-thousands="." data-decimal=","  onkeydown='$(this).maskMoney();', placeholder="Max.")
                .field
                    button.green.ui.button(id='btnApplyFilter', onclick="ads_ApplyFilter();") Aplicar Filtro
script.
    // Get values
    if (navigator.onLine) {
        const fields = ads_GetFilterFields(true);

        const filterSideBar_InitFields = function() {
            // Set Values
            if (fields['searchTerm']) { $('#filter_term').val(fields['searchTerm']); }
            if (fields['category']) {
                $("#filter_" + fields['category']).prop("checked", true);

                if (fields['category'] == 'servicos') {
                    ad_InitDropDownWithServices($('#filter_Subcategory'), true);
                } else if (fields['category'] == 'eventos') {
                    ad_InitDropDownWithEvents($('#filter_Subcategory'), true);
                }
            }
            
            if (fields['state']) { $('#filter_state').dropdown('set selected', fields['state']); }
            // City field below

            if (fields['subcategory']) { $('#filter_Subcategory').dropdown('set selected', fields['subcategory']); }

            if (fields['minprice']) { $('#filter_minprice').val(fields['minprice']); }
            if (fields['maxprice']) { $('#filter_maxprice').val(fields['maxprice']); }
        };

        const filterSideBase_InitCity = function() {
            if (fields['city']) { $('#filter_city').dropdown('set selected', fields['city']); }
        }

        ad_InitDropDownWithProducts($('#filter_Subcategory'), true);
        misc_InitDropdownWithStates($('#filter_state'), $('#filter_city'), true, filterSideBase_InitCity);
        filterSideBar_InitFields();
    }