.ui.right.sidebar.vertical.menu
    .ui.padded.grid
        .ui.wide.column
            .ui.form
                .ui.dividing.header Filtro de Busca
                .field
                    label Busca
                .field
                    input(type='text', name='term', id='filter_term', placeholder="Busca")
                .field            
                    label Estado
                .field
                    .ui.dropdown#state
                        .text
                        i.dropdown.icon
                .field
                    label Cidade
                .field
                    .ui.dropdown#city
                        .text
                        i.dropdown.icon
                .field
                    .ui.radio.checkbox(onclick="ad_InitDropDownWithProducts($('#subcategory'));")
                        input(type='radio', name='category', id='produtos', value="produtos", checked="")
                        label Produtos
                    .ui.radio.checkbox(onclick="ad_InitDropDownWithServices($('#subcategory'));")
                        input(type='radio', name='category', id='servicos', value="servicos")
                        label Serviços
                .field
                    label Sub-Categoria
                .field
                    .ui.dropdown#subcategory
                        .text
                        i.dropdown.icon
                .field
                    label Preço
                    .two.fields
                        .field
                            input(type='text', name='minprice', id='minprice', minlength="1", maxlength="14", data-symbol="R$ " data-thousands="." data-decimal=","  onclick='$(this).maskMoney();', placeholder="Mín.")
                        .field
                            input(type='text', name='maxprice', id='maxprice', minlength="1", maxlength="14", data-symbol="R$ " data-thousands="." data-decimal=","  onclick='$(this).maskMoney();', placeholder="Max.")
                .field
                    button.orange.ui.button(id='btnApplyFilter', onclick="ads_ApplyFilter();") Aplicar Filtro
script.
    const filterSideBar_InitFields = function() {
        // Get values
        const fields = ads_GetFilterFields(true);

        // Set Values
        if (fields['searchTerm']) { $('#filter_term').val(fields['searchTerm']); }
        if (fields['category']) {
            $("#" + fields['category']).prop("checked", true);

            if (fields['category'] == 'servicos') {
                ad_InitDropDownWithServices($('#subcategory'), true);
            }
        }
        
        if (fields['state']) { $('#state').dropdown('set selected', fields['state']); }
        if (fields['city']) { $('#city').dropdown('set selected', fields['city']); }

        if (fields['subcategory']) { $('#subcategory').dropdown('set selected', fields['subcategory']); }

        if (fields['minprice']) { console.log('21'); $('#minprice').val(fields['minprice']); }
        if (fields['maxprice']) { console.log('22'); $('#maxprice').val(fields['maxprice']); }
    };

    ad_InitDropDownWithProducts($('#subcategory'), true);
    ui_InitDropDownWithStates($('#state'), true);
    ui_InitDropDownWithStates($('#city'), true);
    filterSideBar_InitFields();