head
    //- Other meta tags
    include metas

    //- Other links
    include links
    
    //- CSS
    include styles
    
    //- Script
    include scripts

link(rel="dns-prefetch" href="/offline.html")
link(rel="dns-prefetch" href="/notfound.html")
link(rel="dns-prefetch" href="/imgs/noConnection_Icon.jpg")