#menu.ui.sf_header
    .ui.padded.grid
        .green.row
            .three.wide.column
                button#menuButton.ui.icon.button.green(onclick="ui_openSidebar();")
                    i.icon.list.large
            .ten.wide.column
                .ui.search
                    .ui.icon.input.big.fluid
                        input#adsSearchInput.prompt(type='text', placeholder='Pesquisar...')
                        i#adsSearchButton.link.search.icon(onclick="ads_SearchAd();")
                    .results
            .right.aligned.three.wide.column#header_right                    
                button.ui.icon.button.green(onclick="ui_openFilterSidebar();")
                    i.icon.filter.circle.large
            script.
                //ui_headerRightAction();
                const searchTerm = misc_GetUrlParam('searchTerm');
                $("#adsSearchInput").val(searchTerm);