script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')

//- Firebase
script(src='https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js')
script(src='https://www.gstatic.com/firebasejs/5.9.1/firebase-messaging.js')
script(src='https://www.gstatic.com/firebasejs/5.9.1/firebase-auth.js')
script(src='https://www.gstatic.com/firebasejs/5.9.1/firebase-database.js')

//- Semantic
script(src='semanticUI/semantic.min.js')
script(type="text/javascript" src="semanticUI/components/Semantic-UI-Alert.js")

//- Our scripts
script(src='js/main.js')
script(src='js/db.js')
script(src='js/auth.js')
script(src='js/ui.js')
script(src='js/messages.js')