//- Jquery
script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js')

//- Firebase
script(src='https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js')
script(src='https://www.gstatic.com/firebasejs/5.9.1/firebase-messaging.js')
script(src='https://www.gstatic.com/firebasejs/5.9.1/firebase-auth.js')
script(src='https://www.gstatic.com/firebasejs/5.9.1/firebase-database.js')
script(src='https://www.gstatic.com/firebasejs/5.9.1/firebase-storage.js')

//- Semantic
script(src='semanticUI/semantic.min.js')
script(type="text/javascript" src="semanticUI/components/Semantic-UI-Alert.js")

//- Our scripts
script(src='js/main.js')
script(src='js/db.js')
script(src='js/auth.js')
script(src='js/ui.js')
script(src='js/messages.js')
script(src='js/sharedAd.js')