
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-database.js"></script>
<script src="semanticUI/semantic.min.js"></script>
<script type="text/javascript" src="semanticUI/components/Semantic-UI-Alert.js"></script>
<script src="js/main.js"></script>
<script src="js/db.js"></script>
<script src="js/auth.js"></script>
<script src="js/ui.js"></script>
<script src="js/messages.js"></script>
<script src="js/ad.js"></script>
<script src="js/ad_detail.js"></script>