.ui.sidebar.vertical.menu
    a.item(href="index.html")
        | Home
        i.home.icon.Large
    a.item(href="auth_RequireLoggingToAccess('ads_MyAds.html');")
        | Meus Anúncios
        i.shopping.bag.icon.Large
    a.item(href="auth_RequireLoggingToAccess('ads_MyFavorites.html');")
        | Favoritos
        i.heart.icon.Large
    a.item(onClick="messages_GoTo();")
        | Mensagens
        i.comment.icon.Large
    a.item.hidden#LogoutButton(onClick="auth_LogoffUser();")
        | Sair
        i.user.circle.icon.Large