.ui.left.sidebar.vertical.menu
    a.item(href="index.html")
        | Home
        i.home.icon.Large
    a.item.hidden#PerfilButton(onClick="user_OpenProfile();")
        | Meu Perfil
        i.user.circle.icon.Large
    a.item(onclick="auth_RequireLoggingToAccess('ad_list.html');")
        | Meus Anúncios
        i.shopping.bag.icon.Large
    a.item(onclick="auth_RequireLoggingToAccess('ad_list_permission_request.html');")
        | Pedidos de acesso a anúncio
        i.handshake.icon.Large
        i#permissionRequestPush.ui.red.empty.circular.label.menuRedPush.hidden
    a.item(onclick="auth_RequireLoggingToAccess('ad_list_favorites.html');")
        | Favoritos
        i.heart.icon.Large
    a.item(onClick="messages_GoTo();")
        | Mensagens
        i.comment.icon.Large
    a.item.hidden#LogoutButton(onClick="auth_LogoffUser();")
        | Sair
        i.sign-out.icon.Large
    a.item.hidden#LoginButton(onClick="auth_RequireLoggingToAccess('index.html');")
        | Login
        i.sign-in.icon.Large
script.
    if (navigator.onLine) {
        var userID = localStorage.getItem('auth_UserUID');
        if (userID != null) {
            var path = "ad_accessOnFarmRequest/" + userID;
            var onSucess = function(snapshot) {
                console.log("a");
                $("#menuRedPush").removeClass("hidden");
                $("#permissionRequestPush").removeClass("hidden");
            };

            var onError = function(snapshot) {};

            db_get(path, onSucess, onError, onError);    
        }
    }