html
    head
        title Shared.Farm
        
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link( rel="manifest" href="manifest.json")
        
        // Please don't use this type of comment >> // << because it is compiled in the HTML
        //- Use this one instead >> //- << because it does not compile in the HTML

        //- CSS
        include templates/styles
        
        //- Script
        include templates/scripts
    body
        include templates/sideBar
        .pusher
            include templates/header
            #all
                .ui.container
                    .ui.fluid.centered.small.image
                        img#image(src="")
                    h1.ui.header
                        #title| 
                        .sub.header
                            i.map.marker.alternate.icon
                            .content#address
                    h2.ui.orange.header
                        #price| 
                        .sub.header#description
                    .ui.dividing.header
                    .ui.two.column.grid
                        .column
                            .ui.raised.segment
                                a.ui.orange.ribbon.label Categoria
                                label#category
                        .column
                            .ui.raised.segment
                                a.ui.orange.ribbon.label Subcategoria
                                label#subcategory
                    h3.ui.dividing.header
                    h1.ui.header
                        #name| 
                        .sub.header
                            i.map.marker.alternate.icon
                            .content#district
                    .button.fluid.ui.orange.button(id='SendMessage' onclick="message_StartChatWithProductOwner();")
                        | Enviar Mensagem
                    button.fluid.ui.orange.button(id='EditAd' onclick="ad_RedirectForEditAd();")
                        | Editar Anuncio
            include templates/footer
    script.
        ad_GetAllValues(); 