html
    
    include templates/head
      
    //- Required Core Stylesheet
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css")

    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            #all
                br
                include templates/loader
                .ui.container(style="display:none")
                    //- .ui.fluid.centered.small.image
                        img#image(src="")
                    .ui.fluid.centered.rounded.medium.image
                        #intro.slider.glide.glide--ltr.glide--carousel.glide--swipeable
                            .slider__track.glide__track(data-glide-el="track")
                                ul.slider__slides.glide__slides#sliderImages
                                    //-li.slider__slides.glide__slides
                                        img#image(src="")
                                    //-li.slider__slides.glide__slides
                                        img#image2(src="")
                                    //-li.slider__slides.glide__slides
                                        img#image3(src="")
                                    //-li.slider__slides.glide__slides
                                        img#image4(src="")                     
                            //-div(data-glide-el="controls")
                                button.slider__arrow.slider__arrow--prev.glide__arrow.glide__arrow--prev(data-glide-dir="<")
                                    svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24")
                                        path(d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z")
                                button.slider__arrow.slider__arrow--next.glide__arrow.glide__arrow--next(data-glide-dir=">")
                                    svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24")
                                        path(d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z")
                            div.slider__bullets.glide__bullets#bulletImages(data-glide-el="controls[nav]")
                                //-button.slider__bullet.glide__bullet(data-glide-dir="=0")
                                //-button.slider__bullet.glide__bullet(data-glide-dir="=1")
                                //-button.slider__bullet.glide__bullet(data-glide-dir="=2")    
                                //-button.slider__bullet.glide__bullet(data-glide-dir="=3")
                    //-.ui.fluid.centered.small.image
                        img#image(src="")
                    h1.ui.header
                        #title| 
                        .sub.header
                            i.map.marker.alternate.icon
                            .content#address
                    h2.ui.orange.header
                        #price.notFarm | 
                        .sub.header#description
                    .ui.dividing.header.isFarm

                    //-- Map area
                    .html.ui.top.attached.segment.hidden.isFarm
                        br
                        br
                        #map.ui
                        .ui.top.attached.label Mapa da fazenda

                    //-- Category and sub category area
                    .ui.dividing.header.notFarm
                    .ui.two.column.padded.grid.notFarm
                        .column
                            .ui.raised.segment
                                a.ui.orange.ribbon.label Categoria
                                label#category
                        .column
                            .ui.raised.segment
                                a.ui.orange.ribbon.label Subcategoria
                                label#subcategory
                    h3.ui.dividing.header

                    //-- Event data area
                    #hiddendiv.hidden
                        h3.ui.header
                        #adevents.ui.segment
                            h4 Data do evento:
                                label#datead
                            h4 Para mais detalhes, acessar o
                                a#urlad(href="" target="_blank")  site.
                        #youtubeVideo.ui.embed
                        h3.ui.dividing.header

                    //-- Ad owner area
                    div
                        h3.ui.header
                        #adevents.ui.segment
                            h4 Anúncio pertencente à:
                            h1.ui.header
                                #name| 
                                .sub.header
                                    i.map.marker.alternate.icon
                                    .content#district
                            #farmCard.sharedAds.ui.grid.notFarm
                                .sixteen.wide.column(style="margin-top: 0;")
                    
                    //-- Child Farm Ads area
                    div.isFarm.hidden
                        h3.ui.header
                        #adevents.ui.segment
                            h4 Anúncios desta fazenda:
                            #farmChildren.sharedAds.ui.grid
                                .sixteen.wide.column(style="margin-top: 0;")
                    
                    //-- Buttons area
                    .button.fluid.ui.orange.button(id='SendMessage' onclick="auth_RequireLoggingToAccessFunction(message_StartChatWithProductOwner, 'ad_detail.html');")
                        | Enviar Mensagem
                    .button.fluid.ui.orange.button(id='EditAd' onclick="ad_RedirectForEditAd();")
                        | Editar Anúncio
                    .button.fluid.ui.orange.button(id='RequestAdAccessOnFarm' onclick="auth_RequireLoggingToAccessFunction(ad_RequestAdAccessOnFarm, 'ad_detail.html');")
                        | Pedir permissão para linkar anúncio a suas fazenda
                br
            include templates/footer
    style.
        #map {
            height: 330px;
            width: 300px;
        }
    script(src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js")
    script async defer (src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxpL8r2ySRM9-nUEIw7o89QwSbMPtHhO0&callback=initMap")
    script.
        if (navigator.onLine) {
            sw_Register();

            ad_FillDetailPage(misc_GetUrlParam('uid'));
        } else {
            sw_SetLastPageState();
        }

        // Map init
        {
            var map;
            var src = 'https://firebasestorage.googleapis.com/v0/b/shared-farm-dev.appspot.com/o/farm_klms%2FSidia%20Tower.kml?alt=media&token=97dd9783-df7a-4750-8881-0b97079b5112';

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: new google.maps.LatLng(-19.257753, 146.823688),
                    zoom: 2,
                    mapTypeId: 'terrain'
                });

                var kmlLayer = new google.maps.KmlLayer(src, {
                    suppressInfoWindows: true,
                    preserveViewport: false,
                    map: map
                });
            }
        }