html
    
    include templates/head
    
    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            include templates/AnunciarAgora
            #all
                br
                #ads.sharedAds.ui.grid
                    include templates/loader
                br
                br
            include templates/footer
        script.
            ad_List_ListAdsByUser("mylist");