html
    title GoFarmer - Seleção dos anúncios filhos
    include templates/head

    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            .bottomFloating
                button.ui.green.button(onclick="ads_SaveChildrenAds();")
                    i.icon.plus                        
                    | Salvar anúncios filhos
            #all
                br
                #ads.sharedAds.ui.grid
                    .sharedAdsHeader
                        .ui.equal.width.centered.padded.grid
                            .blue.row
                                .colunm
                                    h4.ui.white.header
                                        .content
                                            | Selecione os anúncios que você gostaria de ligar à Fazenda
                    include templates/loader
                br
                br
            include templates/footer
        script.
            ad_List_ListAdsByUser("mylistNoFarmsNoParents", true);

            const ads_SaveChildrenAds = function() {
                const adRef = rootRef.child('ad');
                const adParentUID = misc_GetUrlParam('uid');
                const nextStep = misc_GetUrlParam('nextStep');

                $.each($('[name="checkAd"]'), function(index, obj) {
                    const adParent = ($(obj).prop("checked") ? adParentUID : '');
                    ad_SetAdParent(adRef, obj.value, adParent);
                });

                misc_GoToPage(nextStep + '.html?uid=' + adParentUID);
            };