html
    
    title Shared.Farm - Novo anúncio
    include templates/head
    
    body

        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            #all
                br                
                include templates/loader
                .ui.container(style="display:none")                    
                    form.ui.form.ad_register#InsertAdRegistration(method="post")
                        .field.required
                            label Título
                            input(type='text' name='title' id='title' maxlength="50" placeholder='Título do anúncio' required="required")
                        .field.required
                            label Descrição
                            textarea.ui.padded.sixteen.column.grid(type='text' name='description' id='description' maxlength="250" placeholder='Descrição do anúncio' required="required")
                        .field
                            label Categoria
                            .inline.fields
                                .field
                                    .ui.radio.orange.checkbox
                                        input(type='radio' name='category' id='farm' value="fazendas" disabled)
                                        label Fazenda
                                .field
                                    .ui.radio.orange.checkbox
                                        input(type='radio' name='category' id='products' value="produtos" disabled)
                                        label Produtos
                                .field
                                    .ui.radio.orange.checkbox
                                        input(type='radio' name='category' id='services' value="servicos" disabled)
                                        label Serviços
                                .field
                                    .ui.radio.orange.checkbox
                                        input(type='radio' name='category' id='events' value="eventos" disabled)
                                        label Eventos
                        .field.notFarm
                            .ui.grid
                                .nine.wide.column
                                    .field
                                        label Subcategoria
                                        .ui.compact.search.selection.dropdown#subcategory
                                            i.dropdown.icon
                                            .default.text ""
                                .seven.wide.column
                                    .field.required
                                        label Preço R$
                                        input(type='text' name='price' id='price' minlength="1" maxlength="14" data-symbol="R$ " data-thousands="." data-decimal="," required="required" onclick='$(this).maskMoney();')
                        //-- Image area
                        .field.required
                            label Imagem
                            .ui.padded.centered.grid#ImagesGrid

                        //-- Maps area                                          
                        .field.hidden.isFarm
                            label Selecione o arquivo KML
                            .ui.right.action.icon.input
                                i.inverted.gray.circular.upload.link.icon(onclick="ad_openFileDialog()")
                                input(id="findkmlfile" type="file"  accept=".kml, .kmz" style="display: none;")
                                input(type="text" id="kmlfile" placeholder="Nome do arquivo KML")
                                
                        //-- Events fields area
                        .field.required.hidden.events
                            label Data do evento
                            .ui.left.icon.small.input
                                i.calendar.icon
                                input(type='date' name='datead' id='datead')
                        .field.hidden.events
                            label Site do evento
                            .ui.labeled.small.input
                                .ui.label
                                    | http://
                                input(type='text' name='sitead' id='sitead' maxlength="200" placeholder='www.yoursite.com')
                        .field.hidden.events
                            label Youtube link ID do evento
                            .ui.labeled.small.input
                                .ui.label
                                    | youtube.com/watch?v=
                                input(type='text' name='urlad' id='urlad' maxlength="200" placeholder='{ID}')
                        
                        //-- Personal info area
                        .field
                            .ui.grid
                                .six.wide.column
                                    .field
                                        label CEP
                                        input(type='text' name='cep' id='cep' minlength="8" maxlength="8" placeholder='00000-000' onkeypress="$(this).mask('00000-000');")
                                .ten.wide.column
                                    .field
                                        label Telefone
                                        .inline.fields
                                            .field
                                                input(type='text' name='tel' id='tel' minlength="11" maxlength="11" placeholder='(00) 00000-0000' onkeypress="$(this).mask('(00) 00000-0000');")
                                            .field(style="padding-top: 10px;")
                                                .ui.checkbox
                                                    input(type='checkbox' id="tel_visible" name='tel_visible' checked="")
                                                    label Visível no anúncio?
                        .field
                            label Localização
                            input(type='text' name='locationad' id='locationad' maxlength="100" placeholder='Localização')
                        .field
                            .ui.grid
                                .six.wide.column
                                    .field
                                        label UF
                                        .ui.compact.search.selection.dropdown#statead
                                            input(type="hidden" name="state")
                                            i.dropdown.icon
                                            .default.text Estado
                                .ten.wide.column
                                    .field
                                        label Cidade
                                        .ui.compact.search.selection.dropdown#cityad
                                            input(type="hidden" name="city")
                                            i.dropdown.icon
                                            .default.text Cidade
                        //-.field
                            button.orange.ui.button(id='InsertAdRegistrationButton') Cadastrar
                            button.orange.ui.button.hidden(onclick='ad_update();' id='updateButton') Editar
                                .ui.container
                                    .ten.wide.column    
                                        .inline.fields
                        
                                button.orange.ui.button.hidden(onclick='ad_delete();' id='deleteButton') Excluir
                        
                        .field
                            .ui.padded.column.row.grid#ad_add
                                .two.wide.column.centered
                                .ten.wide.column.centered
                                    .ui.fluid.green.submit.button#InsertAdRegistrationButton(value="insert" onclick="ad_getFormAction(this);")
                                        i.save.icon
                                        |Cadastrar
                                .two.wide.column.centered
                            .ui.padded.column.row.grid.hidden#ad_edit
                                .eight.wide.column.centered
                                    .ui.fluid.green.submit.button#updateButton(value="update" onclick="ad_getFormAction(this);")
                                        i.save.outline.icon
                                        |Salvar
                                .eight.wide.column
                                    .ui.fluid.green.submit.button#deleteButton(value="delete" onclick="ad_getFormAction(this);")
                                        i.trash.alternate.icon
                                        |Excluir
                        .field
                            .ui.error.message
                .ui.small.basic.modal(id='ad_type_modal')
                    .vertical-center
                        .ui.padded.sixteen.column.centered.grid
                            .wide.column.row
                                .ui.green.card.login
                                    .content
                                        .ui.grid
                                            .green.column.row
                                                .column
                                                .left.aligned.ten.wide.column
                                                    .ui.white.header Tipo de anúncio
                                                //.right.aligned.four.wide.column
                                                    .ui.icon
                                                        i.icon.user.circle.large
                                            .ui.padded.column.row.grid
                                                .sixteen.wide.column.centered
                                                    button.big.ui.red.button(value="farm" onClick="ad_selectedType(this.value);")
                                                        i.warehouse.icon
                                                        | Fazenda
                                                .sixteen.wide.column.centered
                                                    button.big.ui.blue.button(value="products" onClick="ad_selectedType(this.value);")
                                                        i.cubes.icon
                                                        | Produtos
                                                .sixteen.wide.column
                                                    button.big.ui.twitter.button(value="services" onClick="ad_selectedType(this.value);")
                                                        i.cogs.icon
                                                        | Serviços
                                                .sixteen.wide.column.centered
                                                    button.big.ui.yellow.button(value="events" onClick="ad_selectedType(this.value);")
                                                        i.calendar.outline.icon
                                                        | Eventos
            include templates/footer
          
        script.
            ad_Register_AddNewImage();
            ad_GetCategory();
            misc_InitDropdownWithStates($("#statead"), $("#cityad"));
            ad_checkPopupType();
            ad_fillfieldforEdit();