html
    head
        title Shared.Farm
        
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link( rel="manifest" href="manifest.json")
        
        // Please don't use this type of comment >> // << because it is compiled in the HTML
        //- Use this one instead >> //- << because it does not compile in the HTML

        //- CSS
        include templates/styles
        
        //- Script
        include templates/scripts
    body
        include templates/sideBar
        .pusher
            include templates/header
            #all
                br
                .ui.container                    
                    form.ui.form(id='InsertAdRegistration')
                        .field
                            label Título
                            input(type='text', name='title', id='title', maxlength="50", required="required", placeholder='Título do anúncio')
                        .field
                            label Descrição
                            textarea.ui.padded.sixteen.column.grid(type='text', name='description', id='description', maxlength="250", required="required", placeholder='Descrição')
                        .field                    
                            .inline.fields
                                label Categoria
                                .field
                                    .ui.radio.checkbox
                                        input(type='radio', name='category', id='products', value="produtos", checked="")
                                        label Produtos
                                .field
                                    .ui.radio.checkbox
                                        input(type='radio', name='category', id='services', value="servicos")
                                        label Serviços
                        .field
                            label Preço R$
                            input(type='text', name='price', id='price', minlength="1", maxlength="14", data-symbol="R$ " data-thousands="." data-decimal="," required="required", onClick='$(this).maskMoney();')
                        .field
                            label Localização
                            input(type='text', name='location', id='location', maxlength="100", placeholder='Localização')
                        .field
                            label CEP
                            input(type='text', name='cep', id='cep', minlength="8", maxlength="8", placeholder='00000-000', onkeypress="$(this).mask('00000-000');")
                        .field
                            label Telefone
                            input(type='text', name='tel', id='tel', minlength="11", maxlength="11", placeholder='(00) 00000-0000', onkeypress="$(this).mask('(00) 00000-0000');")
                        .field
                            button.ui.button(id='InsertAdRegistration' onclick="db_InsertAdRegistration();") Cadastrar

            include templates/footer