html
    
    include templates/head
    
    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            include templates/AnunciarAgora
            #all
                br
                #ads.sharedAds.ui.grid
                    include templates/loader
                    //each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                        .four.wide.column.product_image
                            a(href="ad_detail.html?uid=TESTID")
                                img.ui.tiny.rounded.image(src="imgs/black.png")
                        .twelve.wide.column.product_info
                            a(href="ad_detail.html?uid=TESTID")
                                h4#title
                                    | Terra para cultivo de batataaa
                            i.red.large.link.heart.outline.icon.favoriteItem(onclick="ads_FavoriteAdClick(this);", uid="TESTID")
                            h3#price
                                | R$3.900,00
                            span#info
                                | info sobre o produto como localização
                            .ui.divider(style="width: 100%;")
                br
                br
            include templates/footer
        script.
            if (navigator.onLine) {
                sw_Register();

                ads_List_ListAdsByTerm();
            } else {
                sw_SetLastPageState();
            }