html
    head
        title Shared.Farm
        
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link( rel="manifest" crossorigin="use-credentials" href="%PUBLIC_URL%/manifest.json")
        
        // Please don't use this type of comment >> // << because it is compiled in the HTML
        //- Use this one instead >> //- << because it does not compile in the HTML

        //- CSS
        include templates/styles
        
        //- Script
        include templates/scripts
    body
        include templates/sideBar
        .pusher
            include templates/header
            #all
                br
                .ui.container                
                    form.ui.form.fluid.ad_user
                        .field
                            img.ui.centered.small.image(src="imgs/avatar1.png")
                        .field
                            label Nome
                            input(type="text" name="name" id="name" placeholder="Nome completo")
                        .field
                            label Email
                            input(type="email" name="email" id="email" placeholder="email")
                        .field
                            .ui.grid                       
                                .six.wide.column
                                    .field
                                        label DDD
                                        input(type="tel" name="phone_ddd" id="phone_ddd" placeholder="011")
                                .ten.wide.column
                                    .field
                                        label Telefone
                                        input(type="tel" name="phone_number" id="phone_number" placeholder="99999 9999")
                        .field
                            .ui.grid
                                .ten.wide.column                                
                                    .field
                                        label CEP
                                        input(type="text" name="cep" id="cep" placeholder="XXXXXXZZZ")
                                .six.wide.column
                                    .field
                                        label Número
                                        input(input type="text" name="house_number" id="house_number" placeholder="11")
                        .field
                            label Logradouro
                            input(input type="email" name="publicplace" id="publicplace" placeholder="Rua, Avenida, ...")
                        .field
                            label Bairro
                            input(input type="text" name="district" id="district" placeholder="Bairro ...")
                        .field
                            label Complemento
                            input(input type="text" name="complement" id="complement" placeholder="KM12, Fazenda ...")
                        .field
                            .ui.grid
                                .ten.wide.column
                                    .field
                                        label Localidade
                                        input(input type="text" name="city" id="city" placeholder="São Paulo")
                                .six.wide.column
                                    .field
                                        label UF
                                        input(input type="text" name="state" id="state" placeholder="SAO ...")
                        .field
                            .ui.primary.submit.button Salvar
                            .ui.clear.button Limpar
                        .field
                            .ui.error.message
                include templates/home
                br
                br
            include templates/footer
        script(src='js/ad_user.js')