html
    head
        title Shared.Farm

        //- CSS
        include templates/styles
        //- Script
        include templates/scripts
        
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link( rel="manifest" href="manifest.json")
        
        // Please don't use this type of comment >> // << because it is compiled in the HTML
        //- Use this one instead >> //- << because it does not compile in the HTML

        
    body
        include templates/sideBar
        .pusher
            include templates/header
            #all
                form.ui.form
                      .field
                        label Título
                        input(type='text', name='titulo', placeholder='Título do anúncio')
                      .field
                        label Preço R$
                        input(type='number', min="0.00" max="10000.00" step="0.01", name='preco', placeholder='Preço')
                    
                    .ui.form
                        .inline.fields
                            label Categoria
                            .field
                                  .ui.radio.checkbox
                                        input(type='radio', name='categoria', checked='checked')
                                        label Produtos
                            .field
                                  .ui.radio.checkbox
                                        input(type='radio', name='categoria')
                                        label Serviços
                        .field
                        label Descrição
                        input(type='text', name='descricao', placeholder='Descrição')
                        .field
                        label Localização
                        input(type='text', name='localizacao', placeholder='Localização')

                        .field
                        button.ui.button(type='submit') Publicar



                     


                          

        script.
            var testVar = 'var';
            var testMethod = function() {
                console.log("Button Clicked");
                console.log("Please don't add code here");
                console.log("Add it in a JS file already created or create a new one");
            }
            $('.ui.radio.checkbox')
            .checkbox();