html
    head
        title Shared.Farm
        
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link( rel="manifest" crossorigin="use-credentials" href="%PUBLIC_URL%/manifest.json")
        
        //- CSS
        include templates/styles
        
        //- Script
        include templates/scripts
    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            include templates/AnunciarAgora
            #all
                br
                #adsLast.sharedAds.ui.grid
                    .sharedAdsHeader
                        .ui.equal.width.centered.padded.grid
                            .green.row
                                .colunm
                                    h4.ui.white.header
                                        i.inverted.star.outline.icon
                                        .content
                                            | Novidades
                    include templates/loader
                #adsProducts.sharedAds.ui.grid
                    .sharedAdsHeader
                        .ui.equal.width.centered.padded.grid
                            .green.row
                                .colunm
                                    h4.ui.white.header
                                        i.inverted.tags.icon
                                        .content
                                            | Produtos
                    include templates/loader
                #adsServices.sharedAds.ui.grid
                    .sharedAdsHeader
                        .ui.equal.width.centered.padded.grid
                            .green.row
                                .colunm
                                    h4.ui.white.header
                                        i.inverted.handshake.outline.icon
                                        .content
                                            | Serviços
                    include templates/loader
                #adsEvents.sharedAds.ui.grid
                    .sharedAdsHeader
                        .ui.equal.width.centered.padded.grid
                            .green.row
                                .colunm
                                    h4.ui.white.header
                                        i.inverted.calendar.alternate.outline.icon
                                        .content
                                            | Eventos
                    include templates/loader
                #adsFindout.ui.padded.centered.grid
                    br
                    .ui.card
                      .content
                        .center.aligned.header Anúncios para todos as necessidades!
                        .center.aligned.description
                            | O que você produra? Produtos, serviços ou eventos? Seja o que for, encontre facilmente através da pesquisa.
                      .extra.content
                        .center.aligned.author
                            button.ui.green.button(onclick="ui_openFilterSidebar();")
                                i.icon.filter                        
                                | Pesquisar
                    br
                #adsHistory.sharedAds.ui.grid
                    .sharedAdsHeader
                        .ui.equal.width.centered.padded.grid
                            .green.row
                                .colunm
                                    h4.ui.white.header
                                        i.inverted.eye.icon
                                        .content
                                            | Últimos Anúncios vistos
                    include templates/loader
                br
                br
                br
                br
            include templates/footer
        script.
            const qtdAdsToListByType = 3;
            ads_List_ListLastAdsOnDiv($('#adsLast'), qtdAdsToListByType, 'ad', 'timestamp', null);
            ads_List_ListLastAdsOnDiv($('#adsProducts'), qtdAdsToListByType, 'ad', 'category', 'produtos');
            ads_List_ListLastAdsOnDiv($('#adsServices'), qtdAdsToListByType, 'ad', 'category', 'servicos');
            ads_List_ListLastAdsOnDiv($('#adsEvents'), qtdAdsToListByType, 'ad', 'category', 'eventos');
            ads_List_ListInnerJoinAdsOnDiv($('#adsHistory'), qtdAdsToListByType, 'user_last_viewed_ads', 'ad');