html
    
    title GoFarmer - Login
    include templates/head
    
    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            #all
                .vertical-center
                    .ui.padded.sixteen.column.centered.grid
                        .wide.column.row
                            .ui.blue.card.login
                                .content
                                    .ui.grid
                                        .blue.column.row
                                            .column
                                            .left.aligned.ten.wide.column
                                                .ui.white.header Entrar usando
                                            //.right.aligned.four.wide.column
                                                .ui.icon
                                                    i.icon.user.circle.large
                                        .ui.padded.column.row.grid
                                            .sixteen.wide.column.centered
                                                button.large.ui.google.plus.button(onClick="auth_LoginGoogle();")
                                                    i.google.plus.icon
                                                    | Entrar com o Google&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            .sixteen.wide.column.centered
                                                button.large.ui.facebook.button(onClick="auth_LoginFacebook();")
                                                    i.facebook.icon
                                                    | Entrar com o Facebook
                                            .sixteen.wide.column
                                                button.large.ui.twitter.button(onClick="auth_LoginTwitter();")
                                                    i.twitter.icon
                                                    | Entrar com o Twitter&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            .sixteen.wide.column
                                                | Ao prosseguir você concorda com as <a href="privacy_policy.html">Políticas de Privacidade</a> e <a href="terms_of_service.html">Termos de Responsabilidade</a> da Shared.Farm
                br
                br
            include templates/footer