html

    title Shared.Farm - Messagem    
    include templates/head
    
    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            #all
                br
                #ads.ui.grid
                    //-ADICIONAR PRODUTO NA TELA DE MENSAGEM
                    //-.four.wide.column.product_image
                        a(href="ad_detail.html?uid=TESTID")
                            img.ui.tiny.rounded.image(src="imgs/black.png")
                    //-.twelve.wide.column.product_info
                        a(href="ad_detail.html?uid=TESTID")
                            h4#title
                                | Terra para cultivo de batataaa
                        h3#price
                            | R$3.900,00
                        span#info
                            | info sobre o produto como localização
                        .ui.divider(style="width: 100%;")
                #chatMessages.ui.padded.grid
                    include templates/loader
                    //-.s
                        .fourteen.wide.column
                            .ui.left.pointing.label
                                | If you use this site regularly and would like to help keep the site on the Internet.
                        .two.wide.column
                        .fourteen.wide.column
                            .ui.left.pointing.label
                                | If you use this site regularly and would like to help keep the site on the Internet.
                        .two.wide.column
                        .two.wide.column
                        .fourteen.wide.column
                            .blue.ui.right.pointing.label
                                | If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum is appreciated - click here to donate using PayPal. Thank you for your support.
                #messageInput.ui
                    .ui.icon.input.fluid
                        input#textMessage.prompt(type="text", placeholder="Digite uma mensagem...")
                        i.chevron.right.link.icon(onClick="message_SendMessage();")
                br
                br
            include templates/footer
    script.
        if (navigator.onLine) {
            sw_Register();

            message_DisplayMessages();
        } else {
            sw_SetLastPageState();
        }