html
    
    title Shared.Farm - Página não encontrada    
    include templates/head

    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            #all
                .vertical-center
                    .ui.padded.sixteen.column.centered.grid
                        .wide.column.row
                            .ui.green.card.login
                                .content
                                    .ui.grid
                                        .green.column.row
                                            .column
                                            .left.aligned.fifteen.wide.column
                                                .ui.white.header Página não encontrada!
                                        .ui.padded.column.row.grid
                                            .sixteen.wide.column
                                                | Algum problema aconteceu e não encontramos essa página, tente novamente.
                br
                br
            include templates/footer