html

    title Shared.Farm - Sem internet    
    include templates/head

    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            #all
                .vertical-center
                    .ui.padded.sixteen.column.centered.grid
                        .wide.column.row
                            .ui.green.card.login
                                .content
                                    .ui.grid
                                        .green.column.row
                                            .column
                                            .left.aligned.fifteen.wide.column
                                                .ui.white.header Provavelmente sem serviço!
                                        .ui.padded.column.row.grid
                                            .sixteen.wide.column
                                                i.huge.icons
                                                    i.large.dont.icon
                                                    i.signal.icon
                br
                br
            include templates/footer