html

    title Shared.Farm - Termos de serviço
    include templates/head
      
    body
      include templates/sideBar
      include templates/filterSideBar
      .pusher
            include templates/header
            #all


      strong
        span.wysiwyg-font-size-x-large Termos e Condições Gerais de Uso
      h6
      | (Atualização em 10 de julho de 2019)
      br
      br
      | Seja bem-vindo! Antes de utilizar a Shared.Farm, por favor, leia atentamente os presentes Termos e Condições Gerais de Uso (“T&C”). A leitura do documento é importante para a sua proteção, da Bom Negócio Atividades de Internet Ltda. (“Shared.Farm”), e de terceiros, além de garantir, para Você, o melhor uso das nossas funcionalidades.
      br
      br
      | Apresentamos a você um sumário de seus pontos mais importantes, incluindo principais disposições e limitações de direitos, entretanto, não deixe de ler os Termos e Condições e políticas da Shared.Farm em sua totalidade.
      ol
        li
          | Estes Termos e Condições são um contrato aceito por Você no momento em que Você faz uso da Shared.Farm, de seus websites e aplicativos, independentemente de qualquer outra forma de aceitação. Algumas ferramentas da Shared.Farm podem estar sujeitas a Termos e Condições próprios, como por exemplo, CHAT.
        li
          | No uso de nossas ferramentas, Você deve obedecer a legislação vigente, a moral, a ordem pública e Termos e Condições aplicáveis, não podendo praticar nenhuma conduta, incluindo a publicação de anúncios, que sejam contrários a eles.
        li
          | Você deverá respeitar os direitos de propriedade intelectual da Shared.Farm e de terceiros, e autoriza a Shared.Farm a usar, para fins de publicidade, quaisquer fotografias, imagens, vídeos, áudios e demais conteúdos fornecidos por Você e inseridos nas ferramentas da Shared.Farm.
        li
          | A Shared.Farm não se responsabiliza por danos decorrentes dos negócios conduzidos por terceiros, Usuários ou não, pois sua atuação se limita a disponibilizar o espaço para oferta de produtos e serviços diretamente pelos Usuários anunciantes. Por esse mesmo motivo, a Shared.Farm não se responsabiliza pela conduta dos Usuários, por conteúdos, produtos e serviços anunciados ou insucesso das negociações.
      ol
        li
          | Você deve aceitar a Política de Privacidade da Shared.Farm, que integra estes Termos e Condições e pode ser acessada 
          a(href='https://www.sharedfarm.com.br/Politica-de-Privacidade') AQUI
          | .
        li
          | Você é responsável por todos os atos praticados por Você, bem como pela veracidade das informações fornecidas, para o registro da conta e para a condução de suas negociações, e se atentará às Regras para Anúncios que integram estes Termos e Condições que podem ser acessadas 
          a(href='http://www.sharedfarm.com.br/rules.htm') AQUI
          | .
        li
          | A Shared.Farm se reserva o direito de recusar, bloquear, inabilitar ou excluir, a seu exclusivo critério, Usuários que descumpram qualquer uma das disposições presentes nestes Termos e Condições ou outros instrumentos que os integram.
      strong Índice
      br
      br
      span.wysiwyg-color-black
        strong
          | 1. Partes e objeto
          br          
          | 2. Condições de acesso e uso do SITE
          br          
          | 3. Anúncios
          br
          | 4. Funcionalidades para destaque de anúncios
          br
          | 5. Política de privacidade
          br
          | 6. Garantias e Responsabilidade
          br
          | 7. Propriedade Intelectual
          br
          | 8. Disposições gerais
          br
          br
      a(name='partes')
      strong  1. PARTES E OBJETO.
      br
      br
      | Estes Termos e Condições (“T&C”) são um contrato entre você (“Você” ou “Usuário”) e a Bom Negócio Atividades de Internet Ltda., inscrita no CNPJ/MF sob o nº 13.673.743/0002-55, com sede na cidade do Rio de Janeiro, Estado do Rio de Janeiro, na Rua do Catete, 359, 7º andar, CEP. 22220-001 (“Shared.Farm”), para regular o uso que Você fará da Shared.Farm, de seus websites e aplicativos (denominados conjuntamente como “SITE”).
      br
      br
      | Algumas ferramentas da Shared.Farm podem estar sujeitas a Termos e Condições próprios, como por exemplo, CHAT (“Condições Particulares”). Portanto, recomendamos que Você leia estes T&C e as Condições Particulares antes de utilizar o SITE.
      br
      br
      strong
        a(name='condicoes')
        | 2. CONDIÇÕES GERAIS DE ACESSO E USO DO SITE.
        br
        br
      strong 2.1.
      strong Aceite:
      |  Você reconhece e concorda que a utilização do SITE implica na compreensão, aceitação e vinculação automática aos presentes T&C. Caso não concorde com quaisquer itens,  ou condições previstas neste T&C atual ou futuramente ou caso por qualquer motivo, não se sinta satisfeito com o SITE, você poderá deixar de utilizá-lo.
      br
      br
      strong 2.2. Responsabilidade. 
      | Você reconhece e aceita que o uso do SITE será feito por sua exclusiva conta, risco e responsabilidade, e se compromete a utilizar o SITE e todas as suas ferramentas de acordo com a legislação vigente, a moral, a ordem pública, estes T&C e as Condições Particulares que sejam aplicáveis, não devendo utilizar o SITE para atividades ilícitas, imorais ou que violem direitos de terceiros.
      br
      br
      strong 2.3.
      strong Vedações. 
      | Você se compromete a não inserir, transmitir, difundir ou colocar à disposição de terceiros qualquer tipo de material ou informação (dados de conteúdo, mensagens, desenhos, arquivos de som e imagem, fotografias, software, etc.) que sejam contrários à legislação vigente, à moral, à ordem pública, aos presentes T&C, às políticas da Shared.Farm e  às Condições Particulares aplicáveis. Por exemplo, o Usuário se compromete a não inserir, transmitir ou difundir:
      br
      br
      | conteúdo ou propaganda de caráter potencialmente ofensivo, obsceno, pornográfico ou ainda que indique, promova ou faça apologia a terrorismo, violência ou qualquer forma de discriminação, incluindo, mas não se limitando à sexual, racial, de origem, religiosa ou ainda que de qualquer forma atente contra direitos fundamentais, liberdades públicas reconhecidas pela legislação e quaisquer tratados internacionais vigentes;
      br
      br
      | programas de dados (vírus e software nocivo) que possam provocar danos aos sistemas informáticos do provedor de acesso, aos sistemas informáticos do SITE ou de Usuários;
      br
      br
      | qualquer tipo de informação, elemento ou conteúdo que constitua publicidade ilícita ou desleal;
      br
      br
      | publicidade não solicitada ou não autorizada, material publicitário, "spam", "e-mail de correntes", "marketing piramidal", ou qualquer outra forma de solicitação, exceto em áreas (tais como espaços comerciais) que tenham sido exclusivamente concebidas para tal uso, de acordo com as políticas internas da Shared.Farm;
      br
      br
      | conteúdo falso, ambíguo ou inexato, bem como não omitir informações relevantes sobre a oferta, de forma a potencialmente induzir a erro eventuais receptores de referida informação;
      br
      br
      | informação, elemento ou conteúdo que implique em violação dos direitos de propriedade intelectual e industrial, incluindo direitos autorais, patentes e marcas de titularidade dos proprietários do SITE ou de terceiros;
      br
      br
      | informação, elemento ou conteúdo que implique em violação dos direitos de imagem de terceiros;
      br
      br
      | informação, elemento ou conteúdo que implique em violação ao sigilo das comunicações e à privacidade;
      br
      br
      | senhas de registro às distintas utilidades e/ou conteúdo do SITE que sejam de titularidade de outros Usuários, de modo a prejudicar ou causar dano a referidos Usuários;
      br
      br
      strong
        a(name='anuncios')
        | 3. ANÚNCIOS.
      br
      br
      strong 3.1.
      strong Regras. 
      | O SITE dispõe de regras que devem ser observadas pelo Usuário no momento da publicação dos anúncios. Estas regras são atualizadas com frequência para melhoria da experiência dos Usuários do SITE e devem ser consultadas AQUI.
      br
      br
      strong 3.2.
      strong Direitos da Shared.Farm.
      |  A Shared.Farm reserva-se o direito exclusivo de decidir se um anúncio se encontra de acordo com as regras para publicação dos anúncios e com os interesses comerciais do SITE e poderá remover, a seu exclusivo critério, os anúncios que não estejam de acordo com estas Regras. Além da remoção dos anúncios, a Shared.Farm pode ainda excluir ou inabilitar o Usuário infrator, conforme previsto na Cláusula 9.2 destes Termos.
      br
      br
      strong 3.3.
      strong Período de disponibilidade
      | . Os anúncios serão disponibilizados no SITE por prazo determinado,  que deve ser consultado AQUI. Ocorrendo a expiração do prazo, o anúncio ficará indisponível. A Shared.Farm não disponibiliza aos Usuários backup de anúncios ou publicações cujos prazos de disponibilidade já expiraram ou foram desativados por qualquer motivo, incluindo por ação própria do Usuário.
      br
      br
      strong 3.4. Responsabilidade de sua Conta. 
      | Ao criar uma conta no SITE, Você declara que todas as informações fornecidas relacionadas a Você (“Informações Pessoais”) são verdadeiras e assume a responsabilidade de mantê-las atualizadas.
      br
      br
      strong 3.4.1. Proteja sua conta.
      |  Para proteção de sua conta, sua senha deve ser mantida em sigilo e não deve ser compartilhada. As atividades realizadas no site com o uso de sua conta serão de sua responsabilidade.
      br
      br
      strong 3.5. Disponibilidade e Entrega.
      |  Ao publicar um anúncio, Você declara ter a posse e propriedade dos produtos e serviços na quantidade e modelo(s) indicados em seu anúncio. Você também garante que informará, de forma clara e completa, como a entrega será efetuada e informará caso existam regiões não atendidas por Você, comprometendo-se a realizar a entrega dos produtos na quantidade, modelo e dentro do prazo acordado, assim como prestar os serviços dentro dos padrões de qualidade assumidos. Você assumirá toda responsabilidade pela entrega dos produtos e serviços fora dos parâmetros anunciados, bem como pela não entrega dos mesmos.
      br
      br
      strong 3.6.
      strong Procedência e Licitude do Produto.
      |  Você declara que: (i) veiculará em seus anúncios apenas produtos ou serviços que tenham origem e natureza lícitas, não violem qualquer direito de terceiros, incluindo direitos de propriedade intelectual, não violem os direitos de qualquer pessoa ou entidade, incluindo, sem limitação, os direitos de publicidade ou privacidade; (ii) os serviços e produtos não violam direitos de menores de idade, não desrespeitam os direitos dos consumidores, nos termos da lei aplicável, não apresentam caráter difamatório, e que sua comercialização é permitida e está em conformidade com a legislação brasileira vigente. A Shared.Farm, também pode optar pela exclusão de determinados conteúdos, ainda que lícitos, de acordo com suas políticas internas (para ver uma lista exemplificativa de produtos não permitidos no SITE, 
      strong clique aqui
      strong )
      br
      br
      | . Ao veicular qualquer anúncio no SITE, Você assume a responsabilidade por certificar-se da origem, licitude e qualidade relacionadas aos produtos ou serviços ofertados assim como de sua compatibilidade com estes T&C e demais políticas aplicáveis.
      br
      br
      strong 3.7.
      strong Exatidão das Informações. 
      | Você declara que fornecerá todas as informações necessárias, de forma clara e completa sobre o produto, incluindo, sem limitação, especificações técnicas e suas características, o estado em que os produtos se encontram, preço, formas de pagamento e encargos, obrigando-se a atualizar prontamente todos os dados e informações de seu anúncio se houver alterações capazes de interferir na negociação, bem como comprometendo-se a não cobrar pelo mero envio de informações sobre o anúncio. Além disso, Você declara que não veiculará em seus anúncios informações imprecisas, inverídicas, propaganda enganosa ou abusiva ou que de outro modo possa induzir a erro o Usuário. A disponibilização de imagens deve reproduzir de forma fidedigna os produtos e serviços oferecidos.
      br
      br
      strong 3.8. Limites e cobrança.
      |  A publicação de anúncios poderá, como regra geral, ser realizada de forma gratuita, havendo a possibilidade de cobrança de valores pela publicação de anúncios em determinadas áreas do SITE e em determinadas categorias, conforme deverá ser consultado na página de Regras.
      br
      br
      |  Fica estabelecido ainda que a Shared.Farm não cobra comissão sobre as transações eventualmente concretizadas entre Usuário anunciante e Usuário comprador.
      br
      br
      strong 3.9. Validação.
      |  No sentido de zelar pelo bom funcionamento das relações entre os Usuários do SITE, a Shared.Farm poderá verificar a validade de dados de contato inseridos nos anúncios, como telefone e e-mail, em conformidade com as regras apresentadas aqui.
      br
      br
      |  Esta verificação não acarreta em compromisso, garantia, obrigação ou responsabilidade da Shared.Farm quanto à veracidade destas informações, que continuam sendo de integral responsabilidade do Usuário que as disponibilizou.
      br
      br
      strong
        a(name='funcionalidades')
      | 4. FUNCIONALIDADES PARA DESTAQUE DE ANÚNCIOS
      br
      br
      | São funcionalidades que podem ser contratadas pelo Usuário para posicionamento em locais de destaque no SITE. A modalidade a ser adquirida depende da disponibilidade no momento da contratação. Definição, duração e opções disponíveis podem ser consultadas aqui.
      br
      br
      strong 4.1.  Cancelamento e transferência
      | Independentemente da modalidade de destaque contratada, após o início da execução da funcionalidade, considerando que se trata de contratação que permite a utilização imediata pelo Usuário, este não terá o direito a receber qualquer tipo de reembolso ou devolução do valor pago em caso de cancelamento. Esta disposição se aplica ainda que o item anunciado seja vendido antes do término do prazo contratado ou que o anúncio seja removido da plataforma por qualquer motivo, seja por ação própria do Usuário ou de acordo com as políticas do SITE. Além disso, não é permitido transferir a funcionalidade para outro anúncio, seja próprio ou de outro usuário da plataforma.
      br
      br
      strong 4.2. Atraso ou falta de pagamento:
      |  Em caso de atraso ou falta de pagamento, a Shared.Farm enviará um e-mail de alerta e caso o pagamento não seja realizado após esta cobrança, a Shared.Farm poderá cancelar a contratação. Identificado o pagamento pela Shared.Farm, a conta será reativada de acordo com o prazo operacional necessário, podendo ser preciso inserir novamente os anúncios que se encontravam ativos no momento do cancelamento.
      br
      br
      | 4.2.1 Na hipótese de não pagamento, conforme previsto no item anterior, a Shared.Farm adotará as medidas legais cabíveis para o recebimento de valores em aberto, sendo possível inclusive a inscrição em órgãos de proteção ao crédito, sem prejuízo da aplicação de juros de mora e demais encargos aplicáveis.
      br
      br
      strong  4.3. Ausência de garantia: 
      | O Usuário está ciente de que a Shared.Farm não garante a efetivação de transações dos itens anunciados ou qualquer tipo de resultado relacionado à contratação das funcionalidades de destaque, responsabilizando-se o SITE apenas e tão somente pela disponibilização dos anúncios de acordo com o previsto nestes Termos.
      br
      br
      a(name='politica')
      strong 5. POLÍTICA DE PRIVACIDADE.
      br
      br
      strong 5.1.
      strong Privacidade.
      |  A Shared.Farm possui política sobre privacidade dos dados (“Política de Privacidade”), que pode ser consultada AQUI. O tratamento das informações de cadastro e demais informações sobre os Usuários está sujeito e a esta política, que constitui parte integrante e indissociável destes T&C e deverá ser lida atentamente.
      br
      br
      strong 5.2
      strong Cessão de dados.
      |  O Usuário reconhece e concorda expressamente que a base de dados da Shared.Farm poderá ser cedida ou transferida a terceiros, desde que respeite a finalidade única e exclusiva de dar continuidade à atividade prestada pela Shared.Farm.
      br
      br
      a(name='garantias')
      strong 6. GARANTIAS E RESPONSABILIDADE
      br
      br
      strong 6.1. Disponibilidade de Nosso Atendimento.
      |  O SITE depende de muitos fatores alheios ao controle da Shared.Farm, como qualidade da internet do Usuário e configurações do dispositivo utilizado. Dessa forma, a Shared.Farm não garante a disponibilidade, acesso e continuidade do funcionamento do SITE ou de suas funcionalidades, não sendo responsável por nenhum dano ou prejuízo causado a Você em caso de indisponibilidade.
      br
      br
      strong 6.2.
      strong SITE Não Livre de Vírus.
      |  A Shared.Farm não garante a ausência de vírus e outros elementos nos conteúdos e serviços prestados por terceiros através do SITE que possam introduzir alterações nos sistemas informáticos, documentos eletrônicos ou arquivos dos Usuários.
      br
      br
      strong 6.3. Links.
      |  O SITE poderá colocar à disposição dos Usuários links e ferramentas de busca que permitam aos Usuários o acesso a websites de titularidade de outras entidades ("Links"). Você reconhece e aceita que a utilização dos serviços e do conteúdo dos websites acessados por meio desses Links será feita por sua exclusiva conta, risco e responsabilidade e isenta a Shared.Farm de qualquer responsabilidade relativa aos websites e conteúdo acessado pelos Links.
      br
      br
      strong 6.4.
      strong Funcionalidades futuras. 
      | Sem prejuízo dos conteúdos e utilidades descritos nestes T&C, a Shared.Farm se reserva o direito de introduzir novas facilidades, serviços ou ferramentas com o intuito de enriquecer a experiência do Usuário no uso do SITE, podendo estes ser de qualquer natureza como logística, de pagamento, de administração, de acessibilidade, entre outros.
      br
      br
      | 6.5. 
      strong Permissões. 
      | É possível que alguns servidores guardem, em sua memória cachê, cópias das páginas consultadas por Você no SITE com o objetivo de melhorar a velocidade de tráfego nestas páginas. Você consente com esta guarda, sem prejuízo de outras possibilidades reservadas à Shared.Farm nos termos da Política de Privacidade.
      br
      br
      strong 6.6. Conduta dos Usuários.
      |  A Shared.Farm não garante que os Usuários do SITE o utilizam em conformidade com a lei, a moral, a ordem pública, os presentes T&C e Condições Particulares. Do mesmo modo, não garante a veracidade e exatidão, esgotamento ou autenticidade dos dados disponibilizados pelos Usuários nas páginas do SITE, não sendo responsável por infrações sentido. A Shared.Farm não será responsável também por falsificação de identidade por Usuários, ou por conteúdo, informações, e manifestações de Usuários ou terceiros que se comuniquem pelo SITE. O mau uso da conta é de responsabilidade do Usuário.
      br
      br
      strong 6.7. Desvinculação com os Anunciantes. 
      | A Shared.Farm não atua como prestadora de serviços de consultoria ou intermediação entre os Usuários no SITE, não é o proprietário dos produtos e serviços oferecidos nos anúncios, não guarda posse e não intervém na definição dos preços, atuando apenas na disponibilização de espaço virtual para que os Usuários insiram diretamente seus próprios anúncios. Assim, qualquer contato, ato jurídico, relação contratual, negociação ou abordagem de qualquer natureza entre Usuários, anunciantes ou terceiros contratados por meio do SITE, assim como sua participação em concursos, promoções, compra e venda de bens ou serviços, serão interpretadas como realizados única e exclusivamente entre o Usuário e o terceiro, de tal forma que as partes devem procurar obter todas as informações  sobre o bem ou serviço anunciado e buscar averiguar a veracidade das informações, origem e procedência dos produtos ou serviços, devendo avaliar por sua conta e risco a conveniência de prosseguir com a transação. O SITE não é responsável por estas relações e negociações, sendo as partes envolvidas responsáveis pelas próprias ações ou omissões, inclusive quanto à entrega de bens ou prestação de serviços e pagamento pelo contratado. Anúncios de terceiros que conduzam ao SITE também não são responsabilidade da Shared.Farm, e assim, qualquer reclamação ou ação legal que venha a ser necessária deve ser direcionada ao Usuário ou ao terceiro que gerou o dano ou prejuízo.
      br
      br
      strong
      | 6.10. Isenção de Responsabilidade do SITE com relação ao conteúdo e aos produtos e serviços anunciados.
      |  Ao utilizar o SITE, Você concorda e reconhece que o SITE não possui qualquer ingerência sobre os anúncios veiculados, não sendo capaz de garantir a veracidade, utilidade, precisão, licitude, legalidade, segurança das informações e conteúdos veiculados nos anúncios, nem tampouco a precisão, autenticidade, segurança, licitude dos produtos ou serviços anunciados em sua plataforma. Desta forma, a Shared.Farm não se responsabiliza pelo conteúdo dos anúncios postados por terceiros no site, nem tampouco por eventual infração de direitos de qualquer natureza, atos, omissões ou falta de cumprimento de obrigações de terceiros, atos de concorrência desleal, publicidade ilícita, inadequação de expectativas, vícios e defeitos de toda a classe dos serviços e produtos de terceiros anunciados por terceiros no SITE. A Shared.Farm não responderá por quaisquer danos decorrentes de ou relacionados ao conteúdo dos anúncios e, desta forma, eventuais prejuízos em que o Usuário comprador ou contratante venha a incorrer, incluindo, mas sem limitação, danos diretos e indiretos, materiais, morais, lucros cessantes serão de inteira responsabilidade do Usuário anunciante. Adicionalmente e em caráter exemplificativo, o SITE não é responsável por infrações aos direitos de propriedade intelectual, direitos de imagem ou à honra dos Usuários em decorrência dos conteúdos postados pelos Usuários.
      br
      br
      strong 6.13. Responsabilidade Tributária.
      |  Você é responsável pelas obrigações tributárias decorrentes de seus negócios, respondendo a Shared.Farm apenas pelas atividades desenvolvidas por si própria, observados os limites legais.
      br
      br
      strong 6.14. Responsabilidade Limitada.
      |  No limite permitido pela lei, qualquer responsabilidade da Shared.Farm fica limitada aos valores eventualmente recebidos por ela do Usuário e diretamente relacionados às atividades exercidas em seu favor, excluindo-se os danos indiretos e lucros cessantes.
      br
      br
      a(name='propriedade')
      strong 7. PROPRIEDADE INTELECTUAL.
      br
      br
      strong 7.1.
      strong Proteções. 
      br
      br
      | Você reconhece que estão protegidos por direitos de propriedade intelectual da Shared.Farm ou de terceiros:
      br
      br
      | os elementos do SITE;
      br
      br
      | o conteúdo do SITE;
      br
      br
      | as estruturas, seleções, ordenações e apresentações do conteúdo do SITE; e
      br
      br
      | os programas operacionais utilizados pelo SITE.
      br
      br
      strong 7.2.
      strong Vedações. 
      | Salvo mediante expressa e inequívoca autorização da Shared.Farm ou dos terceiros titulares dos direitos correspondentes, Você não poderá realizar 
      em web crawling 
      | no SITE, reproduzir, exibir, copiar, transformar, modificar, desmontar, realizar engenharia reversa, distribuir, alugar, fornecer, colocar à disposição do público, através de qualquer modalidade de comunicação pública, qualquer dos elementos referidos no parágrafo anterior.
      br
      br
      strong 7.2.1 
      | Fica proibida a utilização de textos, imagens, anúncios e qualquer outro elemento incluído ou disponível no SITE para sua posterior inclusão, total ou parcial, em websites ou quaisquer veículos alheios ao SITE sem a expressa e inequívoca autorização prévia e por escrito da Shared.Farm. Você não poderá remover sinais que identifiquem direitos (de propriedade intelectual, de imagem ou qualquer outro) da Shared.Farm ou de terceiros que figurem no SITE e em cada uma das diversas utilidades oferecidas por ele. Do mesmo modo, Você deverá abster-se de manipular quaisquer dispositivos técnicos estabelecidos pela Shared.Farm ou por terceiros para proteção de seus direitos, quer seja no SITE ou em qualquer dos materiais, elementos ou informação obtida através do SITE.
      br
      br
      strong 7.4.
      strong Autorizações. 
      | Você autoriza a Shared.Farm a reproduzir, distribuir e comunicar publicamente as imagens, vídeos, áudios, textos e qualquer outro conteúdo que inserir no SITE, estando autorizada, inclusive, a publicação do conteúdo em outros Sites da Shared.Farm.
      br
      br
      a(name='disposicoes')
      strong 8. DISPOSIÇÕES GERAIS
      strong 8.1. Modificações.
      |  Estes T&C regem a relação entre o SITE e Você. O SITE poderá modificar estes T&C e demais políticas aplicáveis sempre que for necessário refletir mudanças da lei ou em suas ferramentas. Havendo alterações das utilidades, ferramentas e de novas funcionalidades, tais alterações entrarão em vigor imediatamente, sendo responsabilidade do Usuário a verificação das condições aplicáveis no momento da utilização do SITE. Se Você não concordar com os termos alterados, Você deverá descontinuar o uso do SITE.
      br
      br
      strong 8.2. Direito de exclusão e de solicitação de documentos.
      |  A Shared.Farm se reserva o direito de recusar ou retirar o acesso ao SITE, ou inabilitar o cadastro, sem necessidade de aviso prévio, dos Usuários que descumpram estes T&C e/ou as Condições Particulares. A Shared.Farm poderá ainda, a seu critério, solicitar documentos e informações complementares quando entender necessário para manutenção da conta de um Usuário.
      br
      br
      strong 8.2.1.
      |  As disposições previstas neste item se aplicam a todos os Usuários da Shared.Farm, sem distinção entre Usuários profissionais e os demais e ainda que tenha sido contratada qualquer das funcionalidades previstas nos itens 4 e 5 dos presentes Termos.
      br
      br
      strong 8.2.2
      |  Em caso de remoção de conteúdo e/ou cancelamento de cadastro de Usuário por desrespeito aos presentes Termos, incluindo pelo atraso ou a falta de pagamento, os valores correspondentes às funcionalidades contratadas serão cobrados integralmente e, caso o pagamento tenha ocorrido de forma antecipada, não haverá reembolso de qualquer valor.
      br
      br
      strong 8.3. Menores de idade.
      |  O uso das facilidades do SITE por menores de idade só poderá ocorrer mediante prévia autorização e supervisão de seus responsáveis legais, que serão os responsáveis por todos os atos praticados pelos menores através do SITE. Nos casos em que expressamente se assinale, o acesso ficará restrito aos maiores de 18 anos. Na ocorrência de causas que afetem a capacidade civil do Usuário, o uso do SITE lhe será restrito sob as mesmas condições dos menores de idade.
      br
      br
      strong 8.4. Duração e Término.
      |  A disponibilização das ferramentas e funcionalidades da Shared.Farm no SITE tem duração indefinida, ressalvadas as disposições em contrário. Sem prejuízo, a Shared.Farm se reserva o direito de decidir sobre o encerramento, suspensão ou interrupção das funcionalidades oferecidas, podendo fazê-lo, unilateralmente e a qualquer momento, sem a obrigatoriedade de prévio aviso aos Usuários, salvo se houver contraprestação financeira com relação à funcionalidade alterada/cancelada. Nesta hipótese, a Shared.Farm comunicará os Usuários que tenham contratado as ferramentas pagas, através do endereço eletrônico cadastrado, com a antecedência mínima de 5 (cinco) dias sobre a descontinuidade da ferramenta. Esta cláusula não se aplica à disponibilidade dos anúncios, os quais expirarão nos termos da cláusula 3.3.
      br
      br
      strong 8.5. Resolução de conflitos.
      |  Estes T&C serão interpretados de acordo com as leis do Brasil e todos os litígios oriundos deste T&C ou com ele relacionados serão submetidos preferencialmente à jurisdição do Foro da Comarca de Rio de Janeiro, RJ, podendo ser submetidos ao foro do domicílio do Usuário, conforme disposto em Lei, ou, caso a demandante seja a Shared.Farm, esta poderá a seu critério iniciar a demanda no foro de sua escolha.
      br
      br
      strong 8.6. Comunicações.
      |  O SITE compromete-se a enviar informações relacionadas às suas utilidades e ferramentas ou outras informações adicionais que a lei exigir. Podemos enviar-lhe tais informações por e-mail (endereço especificado no momento da criação da Conta no SITE) ou demais meios eletrônicos disponíveis, como notificações via push. As informações poderão ainda ser enviadas por meio físico por escrito, por correios ao endereço indicado em sua Conta. Os avisos enviados a Você via e-mail serão considerados entregues e recebidos na data da transmissão do e-mail.
      | Você tem o direito de retirar o consentimento para receber essas informações, mas se o fizer, o SITE reserva-se o direito de cancelar sua Conta.
      | Podemos ainda enviar-lhe comunicações com divulgações sobre promoções, pacotes, novidades ou outras informações sobre a Shared.Farm e/ou sobre empresas do mesmo grupo econômico da Shared.Farm.
      br
      br
      strong 8.7. Renúncia e autonomia das disposições.
      |  Qualquer omissão ou tolerância na exigência do cumprimento destes T&C, não constituirá novação ou renúncia, nem afetará o direito da Shared.Farm em exercê-lo a qualquer tempo. Outrossim, a renúncia a qualquer desses direitos somente será válida se formalizada por escrito, bem como a nulidade ou invalidade de qualquer previsão destes T&C não prejudicará a validade e eficácia das demais disposições.
    script.
        if (navigator.onLine) {
            sw_Register();
        } else {
            sw_SetLastPageState();
        }