html
    head
        title Shared.Farm
        
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link( rel="manifest" crossorigin="use-credentials" href="%PUBLIC_URL%/manifest.json")
        
        // Please don't use this type of comment >> // << because it is compiled in the HTML
        //- Use this one instead >> //- << because it does not compile in the HTML

        //- CSS
        include templates/styles
        
        //- Script
        include templates/scripts
    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            #all
                br
                include templates/loader
                #display_user_edit.ui(style="display:none;")
                    .ui.grid
                        .row
                            img.ui.centered.rounded.image#imageuploaded(src="" style="height: 200px; width: 200px;")
                    .ui.centered.segments
                        .ui.segment
                            i.user.icon
                            label#name ...
                        .ui.segment
                            i.mail.icon
                            label#email ...
                        .ui.segment
                            i.phone.icon
                            label#phone_with_ddd ...
                        .ui.segment
                            .ui.grid
                                .row
                                    .two.wide.column
                                        i.building.icon
                                    .fourteen.wide.column
                                        label#publicplace_with_number ...
                                .row
                                    .two.wide.column
                                    .fourteen.wide.column
                                        label#complement_district ...
                        .ui.segment
                            i.map.marker.alternate.icon
                            label#cep_city_state
                    .ui.padded.column.row.grid
                        .two.wide.column
                        .ten.wide.column.centered
                            a.ui.fluid.orange.button(href="user_edit.html")
                                i.pencil.alternate.icon
                                |Editar
                        .two.wide.column
                br
                br
            include templates/footer
        script(src='js/user.js')
        script.
            db_getUserInfo();