html
    
    include templates/head
    
    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            #all
                br
                include templates/loader
                #display_user_edit.ui(style="display:none;")
                    .ui.grid
                        .row
                            img.ui.centered.rounded.image#imageuploaded(src="/imgs/profile.jpg" style="height: 200px; width: 200px;")
                    .ui.centered.segments
                        .ui.segment
                            i.user.icon
                            label#name ...
                        .ui.segment
                            i.mail.icon
                            label#email ...
                        .ui.segment
                            i.phone.icon
                            label#phone_with_ddd ...
                        .ui.segment
                            .ui.grid
                                .row
                                    .two.wide.column
                                        i.building.icon
                                    .fourteen.wide.column
                                        label#publicplace_with_number ...
                                .row
                                    .two.wide.column
                                    .fourteen.wide.column
                                        label#complement_district ...
                        .ui.segment
                            i.map.marker.alternate.icon
                            label#cep_city_state
                    .ui.padded.column.row.grid
                        .two.wide.column
                        .ten.wide.column.centered
                            a.ui.fluid.orange.button(href="user_edit.html")
                                i.pencil.alternate.icon
                                |Editar
                        .two.wide.column
                br
                br
            include templates/footer
        script(src='js/user.js')
        script.
            if (navigator.onLine) {
                sw_Register();

                db_getUserInfo();
            } else {
                sw_SetLastPageState();
            }