html
    
    title GoFarmer - Edição do usuário    
    include templates/head

    body
        include templates/sideBar
        include templates/filterSideBar
        .pusher
            include templates/header
            #all
                include templates/loader
                .ui.container#display_user_edit(style="display:none")         
                    form.ui.form.fluid.user_edit
                        .field
                            .ui.equal.width.center.aligned.grid
                                .row
                                    link(rel="stylesheet" href="/css/misc.css")
                                    .container#user_image
                                        .content
                                            input(id="fileInput" type="file" style="display: none;")
                                        img#imageuploaded(src="")
                                        i.circular.inverted.teal.undo.icon.btnleft(onclick="user_RotateImage();")
                                        i.circular.inverted.teal.upload.icon.btnright(onclick="user_openFileDialog()")
                                //-.row
                                    .orage.ui.button(onclick="db_saveUserImage();") Salvar imagem
                                //-.ten.wide.column
                                    //- .ui.blurring.dimmable.centered.rounded.image#user_image
                                        .ui.dimmer
                                            .content
                                                .center
                                                    //- i.ui.small.primary.button(onclick="user_openFileDialog()")
                                                        |Subir nova
                                    .ui.centered.rounded.image#user_image
                                        .content
                                            input(id="fileInput" type="file" style="display: none;")
                                        img.ui.image#imageuploaded(src="" style="height: 200; width: 200;")
                                    .row
                                        i.circular.inverted.orange.undo.icon(onclick="user_RotateImage();")
                                        i.circular.inverted.orange.upload.icon(onclick="user_openFileDialog()")
                        br
                        .field.required
                            label Nome
                            input#name(type="text" name="name" placeholder="Nome completo")
                        .field
                            label Email
                            input#email(type="email" name="email" placeholder="email" disabled)
                        .field
                            .ui.grid                       
                                .six.wide.column
                                    .field.required
                                        label DDD
                                        input#phone_ddd(type="tel" name="phone_ddd" placeholder="99")
                                .ten.wide.column
                                    .field.required
                                        label Telefone
                                        input#phone_number(type="tel" name="phone_number" placeholder="99999-9999")
                        .field
                            .ui.grid
                                .ten.wide.column                                
                                    .field
                                        label CEP
                                        input#cep(type="text" name="cep" placeholder="99999-999")
                                .six.wide.column
                                    .field
                                        label Número
                                        input#house_number(input type="text" name="house_number" placeholder="123")
                        .field
                            label Logradouro
                            input#publicplace(input type="email" name="publicplace" placeholder="Rua, Avenida, ...")
                        .field
                            label Bairro
                            input#district(input type="text" name="district" placeholder="Bairro ...")
                        .field
                            label Complemento
                            input#complement(input type="text" name="complement" placeholder="KM12, Fazenda ...")
                        .field
                            .ui.grid
                                .six.wide.column
                                    .field
                                        label UF
                                        .ui.search.compact.selection.dropdown#state
                                            input(type="hidden" name="state")
                                            i.dropdown.icon
                                            .default.text Estado
                                .ten.wide.column
                                    .field
                                        label Cidade
                                        .ui.search.compact.selection.dropdown#city
                                            input(type="hidden" name="city")
                                            i.dropdown.icon
                                            .default.text Cidade
                        .field
                            .ui.padded.column.row.grid
                                .two.wide.column
                                .ten.wide.column.centered
                                    .ui.fluid.green.submit.button#btnsave
                                        i.save.icon
                                        |Salvar
                                .two.wide.column
                        .field
                            .ui.error.message
                br
                br
            include templates/footer
        script(src='js/user.js')
        script.
            db_getUserToEdit();
            user_initComponent();